@import url('https://fonts.cdnfonts.com/css/calculator');
@import url('https://fonts.cdnfonts.com/css/varela-round-3');

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(215, 229, 234);
}

.calculator {
    background-color: #363636;
    padding: 30px;
    width: 350px;
    border: 5px outset #000000;
    border-radius: 20px;
}

.screen {
    font-size: 39px;
    font-family: 'Calculator', sans-serif;
    font-weight: bold;
    color: #1a2618;
}

.display {
    background-color: #616961;
    padding: 2.5px 15px;
    margin-bottom: 30px;
    border: 5px inset #555555;
    min-height: 45px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

button {
    font-size: 30px;
    width: 80px;
    height: 80px;
    background-color: #454545;
    border: 2px outset #555555;
    border-radius: 20px;
    color: #eae2d8;
    font-family: 'Varela Round', sans-serif;
}